<!DOCTYPE html>
<html>
<head>
	<title>Find Route</title>
</head>
{% load static %}
<!-- DEFAULT INCLUDES -->

<!-- CSS -->
<link rel="stylesheet" href="css\style.css">
<!-- /CSS -->

<!-- FA FA ICONS LINK -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- /FA FA ICONS LINK -->

<!-- JAVASCRIPT/JQUERY -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- /JAVASCRIPT/JQUERY -->

<!-- /DEFAULT INCLUDES -->


<!--CSS -->
<link rel="stylesheet" href="{% static 'css\findroute.css' $}">
<!--/CSS -->

<body>

<div class="container">
<form>

	<div class="input-container">
	<i class="fa fa-map-marker icon"></i>
	<input type="text" name="source" placeholder="Enter Source">
	</div>

	<div class="input-container">
	<i class="fa fa-map-marker icon"></i>
	<input type="text" name="destination" placeholder="Enter Destination">
	</div>

	<!-- PUT REALTIME MAP HERE -->
	<h1>ADD REALTIME MAP HERE</h1>
	<!-- PUT REALTIME MAP HERE -->

	<button><i class="fa fa-search"></i><i class="fa fa-bus"></i> <b>FIND BUSES</b></button>

</form>
</div>

</body>
</html>